{% extends 'base.html' %}

{% block content %}

<main role="main" class="container offset-md-1">

    <div class="starter-template">
        <h1>TKH: Final Project (Phase 1)</h1>
        <h3>Ishraq Khan</h2><hr>

        <p class="lead">This project parses the BlinkFitness location directory (as seen in the image below):<br></p>
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/vXFRrUJ" data-context="false" ><a href="//imgur.com/a/vXFRrUJ"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        <p class="lead">
            Link to <a href="https://locations.blinkfitness.com/index.html">BlinkFitness directory.</a><br><br>   
            I extracted what I call the branch 'metadata' which includes features such as:<br>
        </p>
        
        <ul>
            <li class="lead">Branch name</li>
            <li class="lead">State</li>
            <li class="lead">Region</li>
            <li class="lead">Street Address</li>
            <li class="lead">Phone Number</li>
        </ul><hr>
    
        <p class="lead">The second is real-time capacity of a location over time.<br></p>
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/eeRa8lM" data-context="false" ><a href="//imgur.com/a/eeRa8lM"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        
        
    </div>

  </main>

{% endblock %}